body {
    background-image: url(Foto/minecraftsunset.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-style: italic;
    margin: 0%;
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
}

h1 {
    font-family: 'Press start 2P', cursive;
    color: gold;


}

.mcontaineer {
    color: burlywood;
    background-image: url(Foto/stonetext2.jpg);
}

#rocks {
    display: flex;
    justify-content: space-between;

}