body {
    background-image: url(Foto/minecraftsunset.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-style: italic;
    margin: 0%;
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
}

h1 {
    font-family: 'Press start 2P', cursive;
    color: gold;
    justify-content: start;


}

.mcontaineer {
    color: burlywood;
    background-image: url(Foto/stonetext2.jpg);
    justify-items: end;
    align-items: end;
}

#rocks {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;

}

.rocktekst1 {
     position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: rgba(0,0,0,0.8);
    color: white;

    padding: 20px;
    border: 3px solid yellow;

    display: none;
}

.rocktekst2 {
     position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: rgba(0,0,0,0.8);
    color: white;

    padding: 20px;
    border: 3px solid yellow;

    display: none;
}

.rocktekst3 {
     position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: rgba(0,0,0,0.8);
    color: white;

    padding: 20px;
    border: 3px solid yellow;

    display: none;
}